:root {
    --soft-color: color-mix(in srgb, var(--pico-color) 50%, var(--pico-background-color));
    --accent-color-percent: 80%;
    --poker-color-percent: 85%;
    --poker-color-hover-percent: calc(var(--poker-color-percent) - 10%);
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --accent-color-percent: 94%;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body>header,
body>footer {
    background-color: color-mix(in srgb, var(--pico-background-color) var(--accent-color-percent), var(--pico-primary));
    ;
    padding-left: 1rem;
    padding-right: 1rem;
}

#main {
    flex-grow: 1;
}

.error {
    color: color-mix(in srgb, #ff0000 75%, var(--pico-color));
}

.soft {
    color: var(--soft-color);
}

.poker-grid-border {
    border: 2px solid var(--soft-color);
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.poker-grid {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.poker-card {
    --mix-color: var(--pico-contrast);
    --mix-percent: var(--poker-color-percent);
    --color: var(--pico-color);
    --line-height: 6rem;
    background-color: color-mix(in srgb, var(--pico-card-background-color) var(--mix-percent), var(--mix-color));
    color: var(--color);
    text-align: center;
    line-height: var(--line-height);
    height: var(--line-height);
    width: calc(var(--line-height) * 3/4);
    border-radius: 10%;
    transition: 0.25s;
}

.poker-card:not(.no-hover):hover {
    --mix-percent: var(--poker-color-hover-percent);
}

.selected-card {
    --mix-color: var(--pico-primary);
    --color: color-mix(in srgb, var(--pico-color) 10%, var(--pico-primary));
}

.poker-grid:has(.selected-card)>.poker-card:not(.selected-card) {
    --mix-color: gray;
    --color: color-mix(in srgb, var(--pico-color) 10%, gray);
}

.has-selected-card {
    background-color: color-mix(in srgb, var(--pico-card-background-color) var(--accent-color-percent), var(--pico-primary));
}

.player-row {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.player-row.not-active {
    background-color: color-mix(in srgb, var(--pico-card-background-color) var(--accent-color-percent), gray);
    color: color-mix(in srgb, var(--pico-color) 10%, gray);
}

#pokerContent,
.results {
    display: flex;
    flex-direction: column;
}

.small-button {
    /* This style is to make buttons work inline */
    height: unset;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    width: auto;
}


.exit-button {
    margin: 0;
    margin-left: var(--pico-spacing);
    padding: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    border: none;
    background-image: var(--pico-icon-close);
    background-position: center;
    background-size: auto 1rem;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: .5;
    transition: opacity var(--pico-transition);
}